.tracking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.tracking h1{
    color: #EDE700;
}

.search{
    display: flex;
    align-items: center;
    background-color: #0F3446;
    border: 2px solid #369090;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin: 25px 0;
}

.search-inpt{
    height: 30px;
    padding: 10px;
    font-size: 22px;
    border-radius: 20px;
    border: none;
}

.search-icon{
    color: #369090;
}

.search-inpt:focus{
    border: none;
}

.track-data{
color: #369090;
line-height: 45px;
margin-left: 10%;
}

.tracking p{
    color: red;
    text-align: center;
}

.row{
    display: flex;
    align-items: first baseline;
    gap: 15px;
}


.delete{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.err-verify{
    color: red;
    text-align: center;
}

.hint{
    display: flex;
    gap :15px;
    align-items: center;
}

.hint span{
    color: #369090;
}