.err{
    color: red;
    position: relative;
}

.booking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.booking h1{
    color: #EDE700;
}

.booking button{
    width: 100px;
    height: 40px;
    border: 1px solid #369090;
    color: #EDE700;
    background-color: #0F3446;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px 0;
}

.inpt{
    height: 30px;
    width: 230px;
    padding: 10px;
    font-size: 18px;
    margin-top: 15px;
}

.green{
    color: green;
}

.red{
    color: red;
}

.copy{
    color: blue;
    padding-left: 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
}

.cross{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.modal-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}